* {
  overflow: hidden;
  margin: 0;
}


.creditos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-content {
  --background: linear-gradient(to right, #361d85, #410a57); /* Light & Dark Purple Gradient */
}



.button-image-container {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Optional: Vertically align button and image */
}

.credits-container {
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;  /* Optional: Set image width if needed */
}

.img-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;  /* Optional: Set image width if needed */
}

h1 {
  font-weight: 600;
  font-size: 40px;
}

ion-text {
  margin-top: 15px;
}

.card-container {
  display: flex;
  align-items: center;
}




/* Breakpoint para pantallas con altura menor o igual a 667px */
@media (max-height: 667px) {

  .title {
    visibility: hidden;
  }
  ion-card {
    margin-top: 50px; /* Margen superior para pantallas pequeñas */

  }

  ion-card-title{
    font-size: 40px;
  }

  ion-card-subtitle {
    font-size: 15px;
  }


}

/* Breakpoint para pantallas con altura mayor a 800px */
@media (min-height: 800px) {
  .title {
    margin-top: 20px;
  }

  ion-card {
    margin: 150px 15px 0px 15px; /* Margen superior para pantallas grandes */
  }

  ion-card-title{
    font-size: 70px;
  }

  ion-card-subtitle {
    font-size: 20px;
  }

  ion-card-content {
    font-size: 20px;

  }
}
